{% extends 'base.html' %}

{% block content %}
<h1>دوره‌های من</h1>

{% if enrollments %}
    <div class="row">
        {% for enrollment in enrollments %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if enrollment.course.image %}
                        <img src="{{ enrollment.course.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ enrollment.course.title }}</h5>
                        <p class="text-muted">مدرس: {{ enrollment.course.instructor.username }}</p>
                        <p class="text-muted">تاریخ ثبت‌نام: {{ enrollment.enrolled_at }}</p>
                        <a href="{% url 'course_detail' enrollment.course.slug %}" class="btn btn-primary btn-sm">مشاهده دوره</a>
                       <a href="{% url 'learning_page' enrollment.course.slug %}" class="btn btn-success btn-sm">شروع یادگیری</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">
        شما هنوز در هیچ دوره‌ای ثبت‌نام نکرده‌اید.
    </div>
    <a href="{% url 'course_list' %}" class="btn btn-primary">مشاهده دوره‌ها</a>
{% endif %}
{% endblock %}